// Beehive rotate on click

.transitionHexa {
  
    transform: rotateY(180deg) !important;

    opacity: 0 !important;
};

.transitionHexaB {
 
    transform: rotateY(180deg) !important;
    
};

// Drop Down Open
.open {
    display: flex !important;
};

// falling animation
.falling-animation {
    animation: fallin 0.5s forwards;
};

@keyframes fallin {
    from {
        opacity: 0;
        transform: translateY(-100vh);
};

    to {
        opacity: 1;
        transform : translateY(0);
    };
};

// @keyframes closing {
//     from {
//         opacity: 1;
//         transform : translateY(0);
        
// };

//     to {
//         opacity: 0;
//         transform: translateY(-100vh);
//     };
// };