@media screen and (min-width:320px) and (max-width:599px){
    :root{
        body{
            #svg,#svgHover,#svgBack{
                transform: scale(0.7);
                transform-origin: center;
                transform-box: fill-box;
            }
            #dropdownMenu {
                z-index: 50;
                top: 90vh !important;
                right: 0vw;
                height: 10vh !important;
                width: 100% !important;
                flex-direction: row !important;
                align-items: center;
                #toggle {
                    margin-top: 0 !important;
                };
                #dropdownList {
                    flex-direction: row !important;
                    height: 10vh !important;
                    width: 80vw !important;
                    .social{
                        margin-top: 0vh !important;
                        flex-direction: row !important;
                        align-items: center;
                        a {
                            margin: 15px !important;
                        }
                    };
                    .display {
                        display: none !important;
                    };
                };
            };
            #resume{
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                display: flex;
                align-items: center;
                .resume-item{
                    z-index: 20;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100% !important;
                    height: 100% !important;
                    align-items: center;
                    margin: 0px !important;
                    overflow: scroll;
                    .resume-item-inner{
                        flex-direction: column !important;
                        .content {
                            padding: 0px !important;
                        };
                    };
                    .inner-resume-item{
                        background-color: rgba(255, 255, 255, 0.726) !important;
                    };
                };
                #formation{
                    .content {
                        padding: 0px !important;
                        .formation-item{
                            padding: 0px !important;
                        };
                    };
                };
                #contact{
                    align-self: flex-start;
                    padding-top: 200px !important;
                    .all-item{
                        padding-top: 200px !important;
                        .close-resume-item{
                            top: 210px !important;
                        };
                    };
                }
            }
        }
    }


};
@media screen and (min-width:600px) and (max-width:1023px){};
@media screen and (min-width:1024px){
    
};