:root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background: url('../../../public/img/blowflower.jpg') no-repeat;
        background-size: cover;
        a {
            text-decoration: none;
            &:hover {
                filter: saturate(3);
            };
        };
        #name {
            position: absolute;
            left: 2vw;
            top: 3vh;
            font-size: xx-large;
            font-weight: bolder;
            color: rgb(207, 104, 104);
        };
        #dropdownMenu {
            position: fixed;
            top: 0vh;
            right: 0vw;
            height: 100%;
            width: 10%;
            background-color:  transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            #toggle {
                border: none;
                background: none;
                margin-top: 3vh ;
                
                color: rgb(207, 104, 104);
                &:focus{
                    outline: none;
                };
                &:hover {
                    filter: saturate(3);
                };
                svg {
                    #Hexagon {
                        stroke: rgb(207, 104, 104);
                    };   
                };
            };
            #dropdownList {
                display: none;
                flex-direction: column;
                height: 80vh;
                font-size: 22px;
                a {
                    color: rgb(207, 104, 104);
                    opacity: 0;
                    &:hover {
                        filter: saturate(3)
                    };
                };
                .social{
                    margin-top: 5vh;
                    display: flex;
                    flex-direction: column;
                    a {
                        margin: 15px 0;
                    }
                };
                .display {
                    margin-top: auto;
                    display: flex;
                    justify-content: center;
                    #beehiveIcon {
                        display: none;
                        fill: rgb(207, 104, 104);
                    };
                };
            };
        };
        
        
        // section1
        #beehiveSection{
    
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0;
            margin: 0;
            // flowers
            #svg {
                width: fit-content;  
                height: fit-content;
                position: absolute;
                z-index: 2; 
                // #Beehive {
                // //    opacity: 0; 
                // }; 
            };
            // transparent
            #svgHover {
                position: absolute !important;
                z-index: 3;
                #BeehiveHover {
                    opacity: 0;
                };
            };
            // contenu
            #svgBack {
                position: absolute;
                z-index: 1;
                #BeehiveBack {
                    // opacity: 0;
                    fill: rgb(207, 104, 104);
                };
                #Vector_12 {
                    fill: rgba(222, 184, 135, 0.603);
                };
            };
        };

        // Section toggle
        #resume {
            height: fit-content;
            width: 100%;
            .visible {
                display: block !important;
            }; //js
            .resume-item {
                display: none;
                margin: 20px auto;
                width: 60%;
                .inner-resume-item {
                    border-radius: 5px;
                    height: fit-content;
                    width: 100%;
                    background-color:  rgba(245, 245, 245, 0.6);
                    border-top: 3px solid #e64e46d8;
                    border-bottom: 3px solid #e64e46d8;
                    .resume-item-inner {
                        display: flex;
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        };
                        .col {
                            margin: 0 2%;
                        };
                        margin: 20px 3%;
                        color:  #806659 ;
                        h4 {
                            font-size: 1.7rem;
                            color : #e64e46d8;
                        };
                    };

                };
            };
                    
        };
    };
};
